<h1>Welcome @ViewBag.user.Name</h1>
<p>
    <a asp-controller="Spa" asp-action="Index">Spa</a>
</p>

<div>
    <p>User Email: @ViewBag.user.Email</p>
    <p>Date Joined: @ViewBag.user.dateJoined</p>
</div>